# jetbrains
**/.idea/

# vscode
**/.vscode/

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
**/.env
**/.env*.local

# typescript
*.tsbuildinfo

# build
/dist

# storybook
/storybook-static

# temporary files
**/*.tmp

# tailwind
build.css

